{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets filter="cssrewrite"
    'bundles/sjwsearch/css/lib/*'

    'bundles/sjwsearch/css/layout.css'

    output='css/dist/search.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@SJWSearchBundle/Resources/public/js/lib/*'

    '@SJWSearchBundle/Resources/public/js/search.js'

    output='js/dist/search.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}
    Code Challenge
{% endblock %}

{% block body %}
    <div class="title-container">
        <h1>Population search</h1>
        <p>A simple tool to search Finnish towns and their populations.</p>
    </div>

    <div class="main-container">
        <form action="{{ path('_search') }}" id="search_form">
            <div class="form-group">
                <label class="sr-only" for="search-input">Search</label>
                <input type="text" class="form-control" name="q" id="search-input" placeholder="Search">
            </div>
            <input type="submit" value="Do search!" class="btn btn-default js-do-search"/>
        </form>

        <hr />

        <div class="results">

	<table id="records_table" class="table table-bordered">
	    <tr>
		<th>Zip</th>
		<th>Town</th>
		<th>Population</th>
	    </tr>
	</table>

        </div>
    </div>
{% endblock %}
