{% if results|length > 0 %}
    {% for result in results %}
        <tr>
            <td>{{ result[0] }}</td>
            <td>{{ result[1] }}</td>
            <td>{{ result[2] }}</td>
        </tr>
    {% endfor %}
{% endif %}