{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets filter="cssrewrite"
    'bundles/sjwsearch/css/lib/*'

    'bundles/sjwsearch/css/layout.css'

    output='css/dist/search.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@SJWSearchBundle/Resources/public/js/lib/*'

    '@SJWSearchBundle/Resources/public/js/search.js'

    output='js/dist/search.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}
    Code Challenge
{% endblock %}

{% block body %}
    <div class="title-container">
        <h1>Population search</h1>
        <p>A simple tool to search Finnish towns and their populations.</p>
    </div>

    <div class="main-container">
        <form action="{{ path('_settingsSet') }}" id="settings_form" method="POST">
            <div class="form-group">
                <label id="search_range" class="errorMsg"">No. of nearest towns</label>
                <label class="sr-only" for="search_range-input">Number of towns</label>
                <input type="number" value="{{ app.session.get('search_range') }}" min="1" max="64" name="search_range" id="search_range-input" placeholder="Number of towns">
            </div>
            <input type="submit" value="Save settings" class="btn btn-default"/>
        </form>

    </div>
{% endblock %}
